<template>
  <div id="verify">
    <div class="veri_main">
      <p class="title">局域网设置</p>

      <div class="areaNet">
        <div>
          <span class="textColor">内网地址：</span>
          <el-input
            v-model="input_IP"
            placeholder="请输入内容"
            class="textWidth"
            @input="ipValidate()"
            @blur="mainNumRule"
          ></el-input>
          <span ref="ipAddr" class="mess" v-show="!isIpGood"></span>
        </div>
        <div>
          <span class="textColor">子网掩码：</span>
          <el-input
            v-model="input_son"
            placeholder="请输入内容"
            class="textWidth"
            @blur="mainNumRule"
            @input="maskValidate"
          ></el-input>
          <span ref="mask" v-show="!isMaskGood" class="mess">1</span>
        </div>
        <div>
          <span class="textColor">DHCP服务器：</span>
          <el-switch
            v-model="value"
            active-color="#0B51A3"
            inactive-color="#CCCCCC"
          >
          </el-switch>
        </div>
        <div>
          <span class="textColor">地址池开始：</span>
          <el-input
            v-model="input_poolStart"
            placeholder="请输入内容"
            class="textWidth"
            @blur="ipRelation(),guestPool(),poolCompareStart()"
          ></el-input>
          <span ref="poolStart" class="mess" v-show="!isPoolStartGood"></span>
        </div>
        <div>
          <span class="textColor">地址池结束：</span>
          <el-input
            v-model="input_poolEnd"
            placeholder="请输入内容"
            class="textWidth"
            @blur="ipRelation2(),guestPool(),poolCompareEnd()"
          ></el-input>
          <span ref="poolEnd" class="mess" v-show="!isPoolEndGood"></span>
        </div>
      </div>

      <p class="title">访客网络地址池</p>
      <div class="guests">
        <div>
          <span class="textColor">地址池开始：</span>
          <el-input
            placeholder="请输入内容"
            v-model="guest_poolStart"
            :disabled="true"
            class="textWidth"
          >
          </el-input>
        </div>
        <div>
          <span class="textColor">地址池结束：</span>
          <el-input
            placeholder="请输入内容"
            v-model="guest_poolEnd"
            :disabled="true"
            class="textWidth"
          >
          </el-input>
        </div>
      </div>
      <div class="sumit_div">
        <el-button type="primary" class="sumit_btn" @click="open">应用</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "verifyPage",
  data() {
    return {
      value: true,
      input_IP: '',
      input_son:'',
      input_poolStart:'',
      input_poolEnd:'',
      guest_poolStart:'',
      guest_poolEnd:'',
      guestPoolArr:[],
      isMaskGood:true,
      isIpGood:true,
      isPoolStartGood:true,
      isPoolEndGood:true,
      comparePool:true,
      sumitObj:[],
    };
  },
  computed:{
    comOverLimit(){
      if(this.input_IP==""){
        return false;
      }
      else{
        return this.ifOverLimit;
      }
    }
  },
  methods: {
    //ip校验
    ipValidate(){
        this.isIpGood = this.$veri.veriIp(this.input_IP,this.input_son,this.$refs.ipAddr);
    },
    //主机号不能全0或1
    mainNumRule(){
        // console.log(this.isIpGood);
        this.isIpGood = this.$veri.veriMainNum(this.input_IP,this.input_son,this.$refs.ipAddr);
        // console.log(this.isIpGood);

    },
    inpIp(){
        this.ifError = this.$veri.veriIp(this.input_son);
    },
    //池地址开始
    ipRelation(){
      this.$nextTick(()=>{
        this.isPoolStartGood = this.$veri.veriRelation(this.input_IP,this.input_son,this.input_poolStart,this.$refs.poolStart)
      })
    },
    //池地址结束
    ipRelation2(){
      this.$nextTick(()=>{
        this.isPoolEndGood = this.$veri.veriRelation2(this.input_IP,this.input_son,this.input_poolEnd,this.$refs.poolEnd)
      })
    },
    //池地址大小校验
    poolCompareStart(){
      this.isPoolStartGood = this.$veri.veriCompare(this.input_son,this.input_poolStart,this.input_poolEnd,this.$refs.poolStart);
    },
    poolCompareEnd(){
        this.isPoolEndGood = this.$veri.veriCompare(this.input_son,this.input_poolStart,this.input_poolEnd,this.$refs.poolEnd);
    },
    //获取访客地址
    guestPool(){
      this.guestPoolArr = this.$veri.getNetNum(this.input_son,this.input_poolStart,this.input_poolEnd);
      if(this.input_poolStart!==""){
        this.guest_poolStart = this.guestPoolArr[0];
      }
      if(this.input_poolEnd!==""){
        this.guest_poolEnd = this.guestPoolArr[1];
      }
    },
    //掩码校验
    maskValidate(){
      this.isMaskGood = this.$veri.maskVali(this.input_son,this.$refs.mask);
    },
    //提交按钮获取数据
    open(){
      if(this.input_IP!==""&this.input_son!==""&this.input_poolStart!==""){
        if(this.ifnull==true||this.ifSonNetWell==true||this.notSame==true){
           this.$alert('失败', '提示', {
              confirmButtonText: '确定',
              callback: action => {
                this.$message({
                  type: 'info',
                  message: `action: ${ action }`
                });
              }
            });
        }
        else{
          this.$alert('成功', '提示', {
              confirmButtonText: '确定',
              callback: action => {
                this.$message({
                  type: 'info',
                  message: `action: ${ action }`
                });
              }
            });
            this.sumitObj.push(this.input_IP,this.input_son,this.input_poolStart,this.input_poolEnd)
            console.log("输入的各类IP为:",this.sumitObj);
        }
      }
    }
  },
};
</script>

<style lang="less" scoped>
.veri_main {
  margin: 50px auto;
  height: 700px;
  width: 500px;
  color:#0b51a3;
  p {
    font-size: 18px;
    font-weight: 700;
  }
  background-color: #f0f1f1;
  .areaNet {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      position: relative;
      margin: 5px 0;
      .mess{
        position: absolute;
        white-space:nowrap;
        color:#F56C97;
        font-size: 10px;
        // top:15px;
        bottom: -10px;
        left: 80px;
        // right: -100px;
      }
      .textColor {
        color: #3d3d3d;
      }
      .textWidth {
        width: 200px;
      }
    }
  }
  .guests {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      margin: 5px 0;
      .textColor {
        color: #3d3d3d;
      }
      .textWidth {
        width: 200px;
      }
    }
  }
  .sumit_div{
    position: relative;
    left: 200px;
    top: 20px;
    .sumit_btn{
    background-color: #0B51A3;
    box-shadow: 0px 0px 5px black;
    border: none;
    width: 100px;
    &:hover{
      background-color: #4D56DB;
    }
  }
  }

}
</style>