<template>
  <div id="App">
     <div id="top"></div>
     <div id="left"></div>
     <verifyPage/>
  </div>
</template>

<script>
import verifyPage from './components/verifyPage.vue'
// import testPage from './components/testPage.vue'

export default {
  name: "App",
  components:{
      verifyPage,
      // testPage
  }
}
</script>

<style scoped>
@import './assets/css/reset.css';
#top{
    height: 60px;
    background-color: #0b51a3;;
}
#left{
    position: fixed;
    left: 0;
    width: 200px;
    height: 1000px;
    border-top: 1px solid white;
    background-color:#0b51a3;;
}
</style>